.bg-register {
    min-width: 600px;
    background-image: url("../../img/bg-register.jpeg");
    border-radius: 16px 0 0 16px;
    box-shadow: var(--shadow-3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.register-img {
    max-width: 550px;
}